
.TituloImagen
{
    margin-top: auto;
}

@media (max-width:995px){
    .TituloImagen
    {
        margin-top: 340px;
    }
}

@media (max-width:700px){
    .TituloImagen
    {
        margin-top: 230px;
    }
}

.bg_animate .contenedor{
    width: 90%;
    max-width: 60vh;
    margin: auto;
}

.bg_animate{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(65deg, rgba(91, 133, 196,0.6), rgba(255, 255, 255, 1));
}

.bg_animate .header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg_animate .header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.bg_animate .header_nav h1{
    color: #fff;
    font-family: 'Gagalin';
}

.bg_animate .header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.bg_animate .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bg_animate .banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.bg_animate .banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.bg_animate .banner_img{
    animation: movimiento 2.5s linear infinite;
}

.bg_animate .banner_img img{
    display: block;
}

/* burbujas */

.bg_animate .ti-heart{
    font-size: 50px;
    color: #fff;
    opacity: .2;

    position: absolute;
    bottom: 100vh;
    
    animation: corazones 3s linear infinite ;
}

.bg_animate .burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .2;

    position: absolute;
    bottom: 100vh;
    
    animation: burbujas 3s linear infinite ;
}

.bg_animate .burbuja:nth-child(1),
.bg_animate .ti-heart:nth-child(1){
    width: 80px;
    height: 80px;
    left: 7%;
    animation-duration: 3.6s;
    animation-delay: .15s;
}

.bg_animate .burbuja:nth-child(2), 
.bg_animate .ti-heart:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bg_animate .burbuja:nth-child(3),
.bg_animate .ti-heart:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 2s;
    animation-delay: 4s;
}

.bg_animate .burbuja:nth-child(4),
.bg_animate .ti-heart:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.bg_animate .burbuja:nth-child(5),
.bg_animate .ti-heart:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.bg_animate .burbuja:nth-child(6),
.bg_animate .ti-heart:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.bg_animate .burbuja:nth-child(7),
.bg_animate .ti-heart:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bg_animate .burbuja:nth-child(8),
.bg_animate .ti-heart:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bg_animate .burbuja:nth-child(9),
.bg_animate .ti-heart:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.bg_animate .burbuja:nth-child(10),
.bg_animate .ti-heart:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes corazones{
    0%{
        bottom: 0;
        opacity: 0;
        transform: translatex(0px);
    }
    30%{
        transform: translateX(10px);
        opacity: .1;
    }
    35%{
        opacity: .2;
        transform: translatex(20px);
    }
    50%{
        opacity: .3;
        transform: translatex(30px);
    }
    65%{
        opacity: .2;
        transform: translatex(20px);
    }
    75%{
        opacity: .1;
        transform: translatex(10px);
    }
    100%{
        bottom: 100vh;
        transform: translatex(0px);
        opacity: 0;
    }
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
        transform: translatex(0px);
    }
    30%{
        transform: translateX(10px);
        opacity: .05;
    }
    35%{
        opacity: .1;
        transform: translatex(20px);
    }
    50%{
        opacity: .2;
        transform: translatex(30px);
    }
    65%{
        opacity: .1;
        transform: translatex(20px);
    }
    75%{
        opacity: .05;
        transform: translatex(10px);
    }
    100%{
        bottom: 100vh;
        transform: translatex(0px);
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}